:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login {
  min-width: 50%;

  &__Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;

    &__Form {
      &__Group {
        &__Text__Create {
          color: lightcoral;
          text-decoration: underline;

          &:hover {
            color: lightgreen !important;
          }
        }
      }
    }
  }
}
