:host(app-register) {
  min-width: 50%;
}

.Register {
  &__Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;


    &__Form {
      &__Group {
        &__Text__Create {
          color: lightcoral;
          text-decoration: underline;

          &:hover {
            color: lightgreen !important;
          }
        }
      }
    }
  }
}
